body{
    margin: 0px;
    padding: 0px;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    align-items: center;
}

a {
    text-decoration: none;
    color: #555;
}

.first-navbar {
    display: flex;
    align-items: center;
    padding: 20px 20px 0px 20px;
}

.first-navbar nav{
    display: inline-block;
    flex: 1;
    text-align: right;
    margin-right: 20px;
}

.first-navbar nav ul{
    display: inline-block;
    list-style-type: none;
}

.first-navbar nav ul li{
    display: inline-block;
}

.second-navbar nav{
    flex: 1;
    text-align: center;
}

.second-navbar nav ul{
    display: inline-block;
    list-style-type: none;
}
.second-navbar nav ul div {
    display: inline-block;
}

.second-navbar nav ul li a {
    display: inline-block;
    padding: 0px 20px 0px 20px;   
}

.second-navbar nav ul li a:hover {
    background-color: rgb(242, 234, 234);
}

.selected {
    border-style: solid;
    border-top: none;
    border-right: none;
    border-left: none;
}

#PageTitle, #cartTitle {
    text-align: center;
}

#MangaListDoc {
    align-items: center;
    list-style-type: none;
}

#MangaListDoc div {
    display: inline-block;
    align-items: center;
    vertical-align: top;
    border-style: solid;
    margin: 5px;
    margin-bottom: 20px;
}

#MangaListDoc div li {
    align-items: center;
    width: 240px;
    height: 440px;
    padding: 30px 35px;
}

#MangaListDoc div li img {
    width: 230px;
}

.addToCartButton {
    background-color: transparent;
    width: 100px;
    height: 35px;
    font-size: medium;
}

.addToCartButton:hover {
    background-color: #F2EAEA;
}

#cartQuantityNumber {
    font-size: large;
    margin-left: 5px;
}